.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #ccc;
}
.header h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 16px;
}

.container1 {
  margin-top: 60px;
}
.container1 .invoice {
  width: calc(100% - 0px);
  height: auto;
  background-color: #222;
}
.container1 .invoice iframe {
  width: 100%;
  height: 700px;
}

.container {
  margin-top: 60px;
}
.container .invoice {
  width: calc(100% - 350px);
  height: auto;
  background-color: #222;
}
.container .invoice iframe {
  width: 100%;
  height: 700px;
}
.container .action {
  width: 350px;
  height: 600px;
  background-color: #fff;
  padding: 16px;
}
.container .action h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b22527;
  text-align: center;
}
.container .action .info {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.container .action .label-info {
  font-size: 16px;
  font-weight: 500;
  color: #464444;
}
.container .action .text-info {
  font-size: 16px;
  font-weight: 500;
  color: #2c8ecc;
}

.sign-btn {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c8ecc;
  padding: 12px 24px;
  color: #fff;
  border-radius: 10px;
}
.sign-btn:hover {
  opacity: 0.8;
}

.verify-btn {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00b75a;
  padding: 7px 24px;
  color: #fff;
  border-radius: 10px;
}
.verify-btn:hover {
  opacity: 0.8;
}

.btn {
  display: flex;
  padding: 16px;
  align-items: center;
}
.btn:hover {
  color: #b22527;
}

.head-modal {
  display: flex;
}
.head-modal h3 {
  font-size: 18px;
  padding: 12px 0;
  background-color: #8cc7a8;
  text-align: center;
  flex: 1;
  color: #292626;
}
.head-modal svg {
  width: 40px;
  height: 40px;
  background-color: #8cc7a8;
}
.head-modal svg:hover {
  background-color: rgba(255, 0, 0, 0.656);
  color: #fff;
}

#file-upload {
  font-size: 999px;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.box-upload {
  text-align: center;
}
.box-upload #signatureImg {
  border: 1px solid #009688;
  padding: 16px;
}
.box-upload h3 {
  margin-top: 16px;
}
.box-upload p {
  width: 100%;
  padding: 4px 0;
}
.box-upload .input-form {
  width: 70%;
  margin-top: 16px;
  padding: 12px 24px;
  border: 1px solid var(--mainColor);
  outline: none;
  border-radius: 5px;
}
.box-upload .btn-all {
  display: flex;
  align-items: center;
  max-width: 200px;
  position: relative;
  padding: 12px 24px;
  background-color: #2c8ecc;
  color: #fff;
  border-radius: 5px;
}
.box-upload .btn-all:hover {
  color: #e14b33;
  background-color: #fff;
  border: 1px solid #e14b33;
}

.modal-check {
  background-color: #fff;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 20px;
  min-width: 650px;
  border: #ccc 2px solid;
  border-radius: 10px;
  overflow: hidden;
  z-index: 102;
}

.modal-viewcer {
  background-color: #fff;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 20px;
  border: #ccc 2px solid;
  border-radius: 10px;
  overflow: hidden;
  z-index: 104;
}

.modal-viewsign {
  background-color: #fff;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 20px;
  border: #ccc 2px solid;
  border-radius: 10px;
  overflow: hidden;
  z-index: 103;
}

.modal-sign, .modal-draw, .modal-design, .modal-pass {
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 550px;
  border: #ccc 2px solid;
  border-radius: 10px;
  overflow: hidden;
  z-index: 101;
}

.modal-check .container {
  margin: 20px;
  height: 550px;
  line-height: 2;
  overflow: auto;
  padding-bottom: 30px;
}
.modal-check .container .col-left h3 {
  text-align: center;
  font-size: 16px;
  color: #00b75a;
  padding: 10px;
  background-color: rgba(0, 183, 90, 0.2);
}
.modal-check .container .col-left span {
  margin-left: 4px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}
.modal-check .container .col-left p {
  margin-left: 16px;
}
.modal-check .container .col-left p span {
  font-size: 15px;
  font-weight: 500;
  color: #2c8ecc;
}
.modal-check .info {
  margin-bottom: 16px;
  width: 95%;
}
.modal-check .info h3 {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #2c8ecc;
  padding: 10px;
  background-color: rgba(204, 204, 204, 0.163);
}
.modal-check .info h3 svg {
  margin-right: 8px;
}
.modal-check .info p {
  margin-left: 16px;
}
.modal-check .info p span {
  font-weight: 500;
}
.modal-check .result h3 {
  font-weight: 500;
  font-size: 15px;
  color: #2c8ecc;
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.modal-check .result h3 svg {
  margin-right: 8px;
}
.modal-check .result .valid {
  display: flex;
}
.modal-check .result .valid h3 {
  color: #1d9f4f;
}
.modal-check .result .invalid {
  display: flex;
}
.modal-check .result .invalid h3 {
  color: #fe1706;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 450px;
  margin: 0 25px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 450px;
  margin: 0 25px;
}

.overlay2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 103;
}

.overlaycer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 102;
}

.grid-item {
  border-bottom: 1px solid #000;
  display: block;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  text-overflow: ellipsis;
  padding: 0 5px;
  line-height: 40px;
}

.modal-viewcer .grid-item.ok:hover {
  cursor: pointer;
  background-color: rgba(44, 143, 204, 0.3607843137);
}

.active-cer {
  background-color: rgba(44, 143, 204, 0.3607843137);
}

.modal-viewsign .container {
  margin: 20px;
  line-height: 2;
  padding-bottom: 30px;
}
.modal-viewsign .container .col-left h3 {
  text-align: center;
  font-size: 16px;
  color: #00b75a;
  padding: 10px;
  background-color: rgba(0, 183, 90, 0.2);
}
.modal-viewsign .container .col-left span {
  margin-left: 4px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}
.modal-viewsign .container .col-left p {
  margin-left: 16px;
}
.modal-viewsign .container .col-left p span {
  font-size: 15px;
  font-weight: 500;
  color: #2c8ecc;
}
.modal-viewsign .info {
  margin-bottom: 16px;
  width: 95%;
}
.modal-viewsign .info h3 {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #2c8ecc;
  padding: 10px;
  background-color: rgba(204, 204, 204, 0.163);
}
.modal-viewsign .info h3 svg {
  margin-right: 8px;
}
.modal-viewsign .info p {
  margin-left: 16px;
}
.modal-viewsign .info p span {
  font-weight: 500;
}
.modal-viewsign .result h3 {
  font-weight: 500;
  font-size: 15px;
  color: #2c8ecc;
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.modal-viewsign .result h3 svg {
  margin-right: 8px;
}
.modal-viewsign .result .valid {
  display: flex;
}
.modal-viewsign .result .valid h3 {
  color: #1d9f4f;
}
.modal-viewsign .result .invalid {
  display: flex;
}
.modal-viewsign .result .invalid h3 {
  color: #fe1706;
}

.modal-viewcer .container {
  margin: 20px;
  height: 550px;
  line-height: 2;
  overflow: auto;
  padding-bottom: 30px;
}
.modal-viewcer .container .col-left h3 {
  text-align: center;
  font-size: 16px;
  color: #00b75a;
  padding: 10px;
  background-color: rgba(0, 183, 90, 0.2);
}
.modal-viewcer .container .col-left span {
  margin-left: 4px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}
.modal-viewcer .container .col-left p {
  margin-left: 16px;
}
.modal-viewcer .container .col-left p span {
  font-size: 15px;
  font-weight: 500;
  color: #2c8ecc;
}
.modal-viewcer .info {
  margin-bottom: 16px;
  width: 95%;
}
.modal-viewcer .info h3 {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #2c8ecc;
  padding: 10px;
  background-color: rgba(204, 204, 204, 0.163);
}
.modal-viewcer .info h3 svg {
  margin-right: 8px;
}
.modal-viewcer .info p {
  margin-left: 16px;
}
.modal-viewcer .info p span {
  font-weight: 500;
}
.modal-viewcer .result h3 {
  font-weight: 500;
  font-size: 15px;
  color: #2c8ecc;
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.modal-viewcer .result h3 svg {
  margin-right: 8px;
}
.modal-viewcer .result .valid {
  display: flex;
}
.modal-viewcer .result .valid h3 {
  color: #1d9f4f;
}
.modal-viewcer .result .invalid {
  display: flex;
}
.modal-viewcer .result .invalid h3 {
  color: #fe1706;
}

.img-sign {
  min-height: 130px;
  padding: 5px;
  border: 1px solid;
}

.body-list_id {
  margin: 12px 12px;
  height: 100px;
  overflow-y: auto;
}

.digital-id {
  list-style-type: none;
  margin-left: 16px;
  width: 100%;
}
.digital-id .item {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.digital-id .select {
  margin-left: 5px;
  width: 15px;
  height: 15px;
}
.digital-id .icon {
  font-size: 20px;
  padding: 0 12px;
}
.digital-id .detail {
  display: flex;
  flex: 1;
  max-width: 500px;
  flex-direction: column;
}
.digital-id .name {
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 400px;
  overflow: hidden;
  flex: 1;
}
.digital-id .view {
  font-size: 1.3rem;
  color: var(--primary);
  text-decoration: none;
  min-width: 0;
  padding-left: 16px;
  margin-right: 16px;
  text-wrap: nowrap;
}
.digital-id .view:hover {
  opacity: 0.6;
}
.digital-id .digital-info {
  font-size: 1.3rem;
  padding-top: 2px;
  display: flex;
}
.digital-id .digital-issued {
  flex: 1;
}
.digital-id .digital-expried {
  flex: 1;
}

.modal-body__btn {
  padding: 8px 24px;
  background-color: #009688;
  border-radius: 5px;
  outline: none;
  border: 1px #00b75a solid;
  color: #fff;
  cursor: pointer;
}
.modal-body__btn:hover {
  opacity: 0.8;
}

.modal__btn {
  color: #1d9f4f;
  padding: 12px 12px;
  position: absolute;
  top: -30px;
  right: 55px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.2);
}

.text-sign {
  font-size: 40px;
  line-height: 1.5;
}

.text-sign {
  text-align: center;
  padding: 4px 24px;
  border: 1px solid #a3e3dd;
  min-height: 67px;
  margin-top: 4px;
  cursor: pointer;
}

.active {
  background-color: #00b75a;
}

.select {
  border: 1px #fa0000 solid;
}

.caveat {
  font-family: "Caveat", cursive;
}

.labe {
  font-family: "La Belle Aurore", cursive;
}

.dancing {
  font-family: "Dancing Script", cursive;
}

.vibe {
  font-family: "Great Vibes", cursive;
}

.sacra {
  font-family: "Sacramento", cursive;
}

.list-type {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.list-type .item {
  border: 1px solid #009688;
  margin: 0 4px;
  padding: 12px 24px;
}
.list-type .item a {
  color: #222;
  font-weight: 500;
}
input.input-type {
  padding: 12px 24px;
  border: 1px solid #009688;
  width: 100%;
  outline: none;
}

/*# sourceMappingURL=view_invoice.css.map */
